{% extends 'home.html' %}

{% block title %}
S2 Logistics - About
{% endblock %}

{% block content %}
<h1 class="text-center mt-4" >About</h1>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h4 class="mb-4">Why Choose Us?</h4>
            
            <h2 class="mb-3">We Aim to Contribute Well</h2>
            
            <h3 class="mb-2">Fast Transportation Service</h3>
            <p>We believe in providing the best solutions to our customers, and our teams work tirelessly to offer options that benefit their interests.</p>
            
            <h3 class="mb-2">Safety and Reliability</h3>
            <p>We provide reliable transportation services that guarantee safety.</p>
            
            <h3 class="mb-2">Shipping in Domestic</h3>
            <p>We are among the best domestic courier services in India, offering agile domestic services to our customers.</p>
            
            <div class="row mt-5">
                <div class="col-md-6">
                    <h4>Domestic Service</h4>
                    <p>We always provide people with complete solutions focused on any business.</p>
                </div>
                <div class="col-md-6">
                    <h4>Local Service</h4>
                    <p>Our services are widely accepted by our clients for their reliability, promptness, and cost-effectiveness.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <img src="/static/award1.jpg" class="img-fluid rounded" alt="Award Image">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <h3 class="mb-4">25K</h3>
            <p>Parcel Delivered</p>
        </div>
        <div class="col-md-3">
            <h3 class="mb-4">15+</h3>
            <p>Total Branches</p>
        </div>
        <div class="col-md-3">
            <h3 class="mb-4">5K</h3>
            <p>Satisfied Clients</p>
        </div>
        <div class="col-md-3">
            <h3 class="mb-4">100%</h3>
            <p>Delivered Packages</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h2>What Makes Us Special</h2>
            <p>s2logistics is the fastest-growing fully-integrated player in India. We aim to build the operating system for commerce through a combination of world-class infrastructure, logistics operations of the highest quality, and cutting-edge engineering and technology capabilities.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <h2>Trusted Franchise</h2>
            <p>s2logistics supply chain is now India’s most preferred courier service. The franchise program is very...</p>
        </div>
        <div class="col-md-4">
            <h2>Customer Support</h2>
            <p>We believe in providing the best solutions to our customers for which our teams keep...</p>
        </div>
        <div class="col-md-4">
            <h2>Reliability & Punctuality</h2>
            <p>We believe in providing reliable transportation services that guarantee safety and punctuality.</p>
        </div>
    </div>
</div>
{% endblock %}
