{% extends 'home.html' %}

{% block title %}
S2 Logistics - Contact
{% endblock %}

{% block content %}
<img src="static/contact.jpg" class="img-fluid" alt="Contact Image">
<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Get in Touch</h3>
            
            <h5>Telephone:</h5>
            <p>18002120212</p>
            <p>011-46082229</p>
            
            <h5>Mail:</h5>
            <p><a href="mailto:mail@s2logistics.co.in?subject=Requesting%20a%20quote">mail@s2logistics.co.in</a></p>
            <p><a href="mailto:mail.s2logistics@gmail.com?subject=Requesting%20a%20quote">mail.s2logistics@gmail.com</a></p>
            
            <h5>Address:</h5>
            <p>S-19, Ground Floor, Okhla Industrial Area, Phase 2</p>
            <p>New Delhi, Delhi 110020, India</p>
        </div>
        
        <div class="col-md-6">
            <h2 class="text-center">Get a Quote</h2>
            
            <form>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="name" placeholder="Your Good Name">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="date" placeholder="Today's Date">
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        <input type="email" class="form-control" id="email" placeholder="Email Id">
                    </div>
                    <div class="col-md-6">
                        <input type="tel" class="form-control" id="phone" placeholder="Phone No.">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary" value="Book an Appointment">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
