{% extends 'admin.html' %}

{% block title %}
Create new account
{% endblock %}

{% block content %}
<div class="container mt-3">
  <h3 class="text-center">Create Account</h3>
  <form class="text-center mt-4" method="POST">
    <div class="form-group row justify-content-center">
      <div class="col-sm-6 mb-3">
        <input class="form-control" type="text" name="name" id="name" placeholder="User" required>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <div class="col-sm-6 mb-3">
        <input class="form-control" type="text" name="email" id="email" placeholder="Email address" required>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <div class="col-sm-6 mb-3">
        <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <div class="col-sm-6 mb-3">
        <input class="form-control" type="password" name="cpassword" id="cpassword" placeholder="Confirm Password" required>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
