{% extends 'services.html' %}

{% block title %}
Ecom Appointment Delivery
{% endblock %}

{% block img1 %}<img src="/static/seller.jpg" class="img-fluid rounded" style="width:600px; height:500px">{% endblock %}
{% block img2 %}<img src="/static/calender.png" class="img-fluid rounded" style="width:600px; height:500px">{% endblock %}

{% block subcont %}
<h3>ECOM APPOINTMENT DELIVERY</h3>
<p>We can help grow your sales with Fulfilled by Amazon (FBA) and Flipkart Assured tags. Enjoy lower shipping costs with "Forced Regional Utilisation" and zonal shipping. We provide Amazon and Flipkart approved packaging material at competitive pricing. We help enable FBA and Flipkart Assured from our facilities. Our warehouses are Flipkart Alfalite and Vendor Flex compliant, and we operate multi-client alfalite and vendor flex for our customers.</p>
<p>We are an enlisted logistics partner of Amazon India to provide transportation service to sellers registered for FBA facilities. We have been allocated standing appointment at Amazon FCs which means sellers need not to book an appointment as we already have standing appointment at FCs.</p>
{% endblock %}