{% extends 'home.html' %}

{% block title %}
S2 Services - Express Parcel
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row" style="padding:50px">
      <div class="col-3">
        <a href="/services/ead" class="btn btn-outline-primary me-2" style="padding-right:50px; padding-left:50px">
        <h5 >E.A.D</h5></a>
      </div>

      <div class="col-3">
        <a href="/services/truck_freight" class="btn btn-outline-primary me-2">
        <h5>Truckload Freight</h5></a>
      </div>

      <div class="col-3">
        <a href="/services/ptf" class="btn btn-outline-primary me-2">
        <h5>Partial-Truckload Freight</h5></a>
      </div>

      <div class="col-3">
        <a href="/services/scs" class="btn btn-outline-primary me-2">
        <h5>Supply Chain Services</h5></a>
      </div>
    </div>

    <div class="row">
      <div class="col-6" style="padding-bottom:50px">
        <img src="/static/box_wrap.jpg" style="width:100%;border-radius:15px;height:500px">
      </div>
      <div class="col-6" style="padding-bottom:50px">
        <img src="/static/sorting.jpg" style="width:100%;border-radius:15px;height:500px">
      </div>
    </div>

    <div class="row">
      <div class="col-6">

        <div class="row">
          <div class="col-6">
            <b><h2>We Cover Pan India</h2></b>
            <h1>158+</h1>
            <h6>International Gateways</h6>
          </div>
          <div class="col-6">
            <b><h2>We Handle</h2></b>
            <h1>30k</h1>
            <h6>Tons Per Month</h6>
          </div>
        </div>

        <div class="text-center" style="padding:15px">
        <a href="/contact" class="btn btn-primary" style="padding:15px"><b>Work With Us</b></a>
        </div>
      </div>
      
      <div class="col-6">
        <h3>EXPRESS PARCEL</h3>
        <p>Our express parcel delivery network services over 18000 pin codes in India. It can handle consignments of up to 10 kilograms with same-day and next-day capabilities and 48-96 hour deliveries for long-distance orders. We also offer heavy goods service comprising the warehousing and delivery of heavy goods, such as large electrical goods, or white goods, furniture and sports equipment, supported by our extensive pan-India network and PTL services. Additionally, we extend our express parcel services for domestic shipping, through s2logistics. Direct to individual consumers from the comfort of their homes.</p>
        <br>
      </div>
    </div>
  </div>
{% endblock %}