<!DOCTYPE html>
<html>
  <head>
    <title>S2 Logistics</title>
    <style>
      #container{
        max-width: 800px;
        margin: 0 auto
      }
      #head{
        text-align: center;
        color: rgb(10, 100, 100);
        font-family: monospace
      }
      p{
        text-align: center;
        color: rgb(10, 100, 100);
        font-family: font: size;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    
    <div id="head">
      <img src="https://24a440ba-b8a2-422a-987a-22a68cdaea84-00-1s7wlgtx009ih.pike.replit.dev/static/s2logo.png" width="50px", height="50px"> <h1>S2 Logistics </h1>
    </div>
    
    <div id="container">
      <br>
      <p>
        <b><u>About Us</u></b> <br>
        S2 Logistics is a well-known transportation & logistics service provider having its presence at Delhi & NCR, Bangalore, Mumbai & Bhiwandi and Hyderabad. We have a network of experienced & skilled people that help us to cover these locations and its surrounding areas like no other transport/logistics company. We are an enlisted logistics partner of Amazon India to provide transportation service to sellers registered for FBA facilities.
        <br><br>
        s2logistics is the fastest growing fully-integrated well known transport company in India . We aim to build the operating system for ecommerce, through a combination of world-class infrastructure, logistics operations of the highest quality and cutting-edge engineering and technology capabilities.
      </p>
  
      <button>sign-in/sign-up</button>
     </div>
  </body>
</html>