{% extends 'home.html' %}

{% block title %}
S2 Services - Partial Truckload Freight
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-3">
            <a href="/services/express_parcel" class="btn btn-outline-primary btn-block">
                <h5>EXPRESS PARCEL</h5>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/services/truck_freight" class="btn btn-outline-primary btn-block">
                <h5>Truckload Freight</h5>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/services/ead" class="btn btn-outline-primary btn-block">
                <h5>E.A.D</h5>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/services/scs" class="btn btn-outline-primary btn-block">
                <h5>Supply Chain Services</h5>
            </a>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6">
            <img src="/static/ptf2.jpg" class="img-fluid rounded" alt="Partial Truckload Freight Image">
        </div>
        <div class="col-md-6">
            <img src="/static/ptf3.jpg" class="img-fluid rounded" alt="Partial Truckload Freight Image">
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <h2>We Cover Pan India</h2>
                    <h1>158+</h1>
                    <h6>International Gateways</h6>
                </div>
                <div class="col-md-6">
                    <h2>We Handle</h2>
                    <h1>30k</h1>
                    <h6>Tons Per Month</h6>
                </div>
            </div>
            <div class="text-center mt-3">
                <a href="/contact" class="btn btn-primary">Work With Us</a>
            </div>
        </div>
        <div class="col-md-6">
            <h3>PARTIAL-TRUCKLOAD FREIGHT</h3>
            <p>s2logistics provides Partial-Truckload (PTL) freight services focused on the B2B express segment at competitive rates. Our services are designed to meet regular as well as seasonal requirements across the country.
            <br><br>
            Customers’ freight requirements are serviced at competitive costs – with a combination of our own fleet and our network of pan-India professional truckload partners. Our service is designed around shared linehaul operations with the express parcel business, allowing us to offer e-commerce equivalent turnaround times and direct reach across our entire network to PTL freight customers.</p>
        </div>
    </div>
</div>
{% endblock %}
