<!DOCTYPE html>
<html>
  <head>
    <title>
      S2 Logistics - Services
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    {%include 'header.html'%}
    <div class="container">
      <div class="row" style="padding: 5px;padding-bottom:20px">
        <div class="col-3">
          <a href="services/express_parcel" class="btn btn-outline-primary me-2">
            <img src="static/express-parcel.jpg" height="250px" width="250px">
            <h2>EXPRESS PARCEL</h2>
          </a>
        </div>
        <div class="col-1">
        </div>
        <div class="col-5">
          <a href="services/scs" class="btn btn-outline-primary me-2">
            <img src="static/scs.png" height="250px" width="250px">
            <h2>SUPPLY CHAIN SERVICES</h2>
          </a>
        </div>
        <div class="col-3">
          <a href="services/ead" class="btn btn-outline-primary me-2">
            <img src="static/ead.jpg" height="250px" width="250px">
            <h2>ECOM APPOINTMENT DELIVERY</h2>
          </a>
        </div>
      </div>
      <div class="row text-center" style="padding: 5px;padding-top:20px">
        <div class="col-6">
          <a href="services/truck_freight" class="btn btn-outline-primary me-2">
            <img src="static/tf.jpg" height="250px" width="250px">
            <h2>TRUCKLOAD FREIGHT</h2>
          </a>
        </div>
        <div class="col-6">
          <a href="services/ptf" class="btn btn-outline-primary me-2">
            <img src="static/half-filled.jpg" height="250px" width="250px">
            <h2>PARTIAL-TRUCKLOAD FREIGHT</h2>
          </a>
        </div>
      </div>
    </div>
    {%include 'footer.html'%}
  </body>
</html>