{% extends 'home.html' %}

{% block title %}
S2 Logistics - Services
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row" style="padding: 5px;padding-bottom:20px">
      <div class="col-3">
        <a href="/services/express_parcel" class="btn btn-outline-primary me-2">
          <img src="/static/express-parcel.jpg" style="width:100%;border-radius:15px;height:250px">
          <h2>EXPRESS PARCEL</h2>
        </a>
      </div>
      <div class="col-1">
      </div>
      <div class="col-5">
        <a href="/services/scs" class="btn btn-outline-primary me-2">
          <img src="/static/scs.png" style="width:100%;border-radius:15px;height:250px">
          <h2>SUPPLY CHAIN SERVICES</h2>
        </a>
      </div>
      <div class="col-3">
        <a href="/services/ead" class="btn btn-outline-primary me-2">
          <img src="/static/ead.jpg" style="width:100%;border-radius:15px;height:250px">
          <h2>ECOM APPOINTMENT DELIVERY</h2>
        </a>
      </div>
    </div>
    <div class="row text-center" style="padding: 5px;padding-top:20px">
      <div class="col-6">
        <a href="/services/truck_freight" class="btn btn-outline-primary me-2">
          <img src="/static/tf.jpg" style="width:100%;border-radius:15px;height:500px">
          <h2>TRUCKLOAD FREIGHT</h2>
        </a>
      </div>
      <div class="col-6">
        <a href="/services/ptf" class="btn btn-outline-primary me-2">
          <img src="/static/half-filled.jpg" style="width:100%;border-radius:15px;height:500px">
          <h2>PARTIAL-TRUCKLOAD FREIGHT</h2>
        </a>
      </div>
    </div>
  </div>
{% endblock %}