{% extends 'home.html' %}

{% block title %}
S2 Logistics - Services
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-4" >
            <a href="/services/express_parcel" class="btn btn-outline-primary btn-block">
                <img src="/static/express-parcel.jpg" class="img-fluid rounded" style="width:500px; height:500px">
                <h2 class="text-center">EXPRESS PARCEL</h2>
            </a>
        </div>
        <div class="col-4" >
            <a href="/services/scs" class="btn btn-outline-primary btn-block">
                <img src="/static/scs.png" class="img-fluid rounded" style="width:600px; height:500px">
                <h2 class="text-center">SUPPLY CHAIN SERVICES</h2>
            </a>
        </div>
        <div class="col-4" >
            <a href="/services/ead" class="btn btn-outline-primary btn-block">
                <img src="/static/ead.jpg" class="img-fluid rounded" style="width:600px; height:500px">
                <h2 class="text-center" style="font-size:26px; margin-bottom:15px">ECOM APPOINTMENT DELIVERY</h2>
            </a>
        </div>
    </div><br>
    <div class="row text-center">
        <div class="col-md-6">
            <a href="/services/truck_freight" class="btn btn-outline-primary btn-block">
                <img src="/static/tf.jpg" class="img-fluid rounded mb-2"style="width:600px; height:500px">
                <h2 class="text-center">TRUCKLOAD FREIGHT</h2>
            </a>
        </div>
        <div class="col-md-6">
            <a href="/services/ptf" class="btn btn-outline-primary btn-block">
                <img src="/static/half-filled.jpg" class="img-fluid rounded mb-2" style="width:600px; height:500px">
                <h2 class="text-center">PARTIAL-TRUCKLOAD FREIGHT</h2>
            </a>
        </div>
    </div><br>
</div>
{% endblock %}
