{% extends 'home.html' %}

{% block title %}
Log-in S2 Logistics
{% endblock %}

{% block content %}
  <h3 align="center">Sign In</h3><br>
  <form class="text-center" method="POST" >
    <div class="form-group container">
    <input class="form-control" type="text" name="email" id="email" placeholder="email" style="padding:10px"><br>
    <input class="form-control" type="password" name="password" id="password" placeholder="Type your Password" style="padding:10px">
    </div>
    <br>
    <a href="/admin/sign_up" class="btn btn-outline-primary me-2">sign-up</a>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}