{% extends 'home.html' %}

{% block title %}
Sign-Up S2 Logistics
{% endblock %}

{% block content %}
  <h3 align="center">Create Your Account</h3><br>
  <form class="text-center" method="POST">
    <div class="form-group container">
    <input class="form-control" type="text" name="name" id="name" placeholder="Your full name" style="padding:10px"><br>
    <input class="form-control" type="text" name="email" id="email" placeholder="Type your email address" style="padding:10px"><br>
    <input class="form-control" type="password" name="password" id="password" placeholder="Type your Password" style="padding:10px"><br>
    <input class="form-control" type="password" name="cpassword" id="cpassword" placeholder="Confirm your Password" style="padding:10px">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}