{% extends 'home.html' %}

{% block title %}
S2 Services - TruckLoad Freight
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-3">
            <a href="/services/express_parcel" class="btn btn-outline-primary">
                <h5>EXPRESS PARCEL</h5>
            </a>
        </div>
        <div class="col-3">
            <a href="/services/ead" class="btn btn-outline-primary">
                <h5>E.A.D</h5>
            </a>
        </div>
        <div class="col-3">
            <a href="/services/ptf" class="btn btn-outline-primary">
                <h5>Partial-Truckload Freight</h5>
            </a>
        </div>
        <div class="col-3">
            <a href="/services/scs" class="btn btn-outline-primary">
                <h5>Supply Chain Services</h5>
            </a>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-6">
            <img src="/static/tf2.jpg" class="img-fluid rounded" style="width:600px; height:500px">
        </div>
        <div class="col-6">
            <img src="/static/tf3.jpg" class="img-fluid rounded" style="width:600px; height:500px">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="row mb-4">
                <div class="col-6">
                    <h2>We Cover Pan India</h2>
                    <h1>158+</h1>
                    <h6>International Gateways</h6>
                </div>
                <div class="col-6">
                    <h2>We Handle</h2>
                    <h1>30k</h1>
                    <h6>Tons Per Month</h6>
                </div>
            </div>
            <div class="text-center">
                <a href="/contact" class="btn btn-primary">
                    <b>Work With Us</b>
                </a>
            </div>
        </div>
        <div class="col-6">
            <h3>TRUCKLOAD FREIGHT</h3>
            <p>
                Our TL freight brokerage platform connects shippers with fleet owners and suppliers of truckload capacity across the country through a centralized bidding and matching engine. The platform allows shippers and our teams to post their spot and long-term truckload freight requirements. Registered agents and fleet owners can bid for these jobs using our in-house application, Axle. Loads are matched to capacity based on price and service quality. We also acquired Roadpiper Technologies Private Limited, a digital freight broker with fleet owner, load-matching, and pricing applications, strengthening our capability to engage with suppliers of truckload capacity.
            </p>
        </div>
    </div>
</div>
{% endblock %}
